#homepage
{
	background:url(http://w3.wallls.com/uploads/original/201603/30/wallls.com_102229.png);
	height: 400px;
}
#text
{
	font-family: 'Playfair Display SC', serif;
	color: #fff;
}
p
{
		font-family: 'Playfair Display SC', serif;
		color: white;

}